.home {
  &-hero {
    display: grid;
    gap: 3rem 2rem;
    padding-top: 64px;
    padding-bottom: 64px;
    background-color: var(--primary);
    color: var(--text-inverted);
    align-items: center;
    overflow: hidden;
  }

  @media (--md) {
    &-hero {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
