.AdminHeader {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: var(--background);
  position: relative;
  isolation: isolate;
  justify-content: space-between;

  &-search {
    position: absolute;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: var(--background);
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 42px 1fr 42px;
    gap: 1rem;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: var(--transition-opacity), var(--transition-visibility),
      top var(--trans-duration) var(--trans-timing);

    &.active {
      opacity: 1;
      visibility: visible;
      top: 0;
    }

    .SearchBox {
      width: 90%;
      justify-self: center;
    }
  }
}
