.Avatar {
  width: calc(42px * var(--scale-size));
  height: calc(42px * var(--scale-size));
  border-radius: 50%;
  overflow: hidden;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}
