.AvatarWithPublishedDate {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  &-body {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  &-username {
    font-size: var(--text-sm);
    line-height: var(--hline-sm);
    color: inherit;
  }

  &-publishedDate {
    font-size: var(--text-xs);
    line-height: var(--hline-xs);
    color: inherit;
  }
}
