.BlogAvatar {
  display: flex;
  gap: 0.5rem;

  &-body {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  &-username {
    color: var(--text-primary);
  }

  &-publishedDate {
    font-size: var(--text-sm);
    line-height: var(--hline-sm);
    color: var(--text-secondary);
  }
}
