$header-height: 80px;

.MainHeader {
  height: $header-height;
  color: var(--text-primary);
  transition: background-color 150ms ease, color 150ms ease;

  &-header {
    --padding-y: 0.5rem;

    background-color: #fff;
    padding-top: var(--padding-y);
    padding-bottom: var(--padding-y);
    position: fixed;
    top: 0;
    left: 0;
    max-height: $header-height;
    height: 100%;
    width: 100%;
    z-index: 10;
  }

  .navigate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  &-brand {
    margin-right: 1rem;
    padding: 0;
    display: flex;
    width: fit-content;

    a {
      display: inline-block;
      height: 100%;
    }

    &-logo {
      height: calc($header-height - 2rem);
    }
  }

  .burger-btn {
    cursor: pointer;
    display: grid;
    place-content: center;
    border-radius: 50%;
    padding: 0;
    border: 0;
    color: inherit;
    background-color: transparent;
    transition: var(--transition-colors);

    &:hover {
      background-color: rgba(255, 255, 255, 0.5);
    }
  }

  &-navigator {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 1rem;
  }

  .navigator {
    &-socialNetworks {
      display: none;
    }

    &-menu {
      font-size: var(--text-sm);
      line-height: var(--hline-sm);
      display: flex;
      margin: 0;
      padding: 0;
      list-style: none;
    }

    &-actions {
      font-size: var(--text-sm);
      line-height: var(--hline-sm);
      display: flex;
      gap: 0 1rem;
    }
  }

  .item-link {
    display: block;

    font-weight: 700;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    transition: var(--transition-colors);

    &:hover {
      color: var(--primary);
    }
  }

  .burger-btn {
    cursor: pointer;
    border-radius: 50%;
    padding: 0;
    border: 0;
    color: inherit;
    background-color: transparent;
    width: 40px;
    height: 40px;
  }
}

@media (--md) {
  .MainHeader {
    .navigate {
      justify-content: initial;
    }

    .burger-btn {
      display: none;
    }

    &-navigator {
      align-items: center;
    }

    .item-link {
      &:hover {
        border-color: var(--primary);
      }
    }
  }
}

@media (--avobe-md) {
  .MainHeader {
    &-navigator {
      flex-direction: column;
      position: fixed;
      top: $header-height;
      right: 0;
      width: min(100%, 280px);
      bottom: 0;
      padding-top: 1rem;
      /* padding-bottom: 1rem; */
      background-color: #fff;
      z-index: 3;
      transform: translateX(100%);
      transition: var(--transition-transform);

      &.active {
        transform: translateX(0);
        color: var(--text-primary);
      }

      .navigator {
        &-socialNetworks {
          display: block;
          padding-left: 1rem;
          padding-right: 1rem;
          padding-top: 2rem;
          padding-bottom: 2rem;

          &-title {
            text-align: center;
            font-size: var(--text-sm);
            line-height: var(--hline-sm);
            font-weight: 700;
            margin-bottom: 1rem;
          }

          &-menu {
            list-style: none;
            padding: 0;
            display: flex;
            justify-content: space-between;
          }
        }

        &-actions {
          flex-direction: column;

          .btn,
          .item-link {
            height: initial;
            padding: 1rem;
          }
        }
      }
    }

    .navigator-menu {
      flex-direction: column;
    }

    .item-link {
      &:hover {
        background-color: rgba(var(--primary-rgb), 0.25);
      }
    }
  }

  .cover-protector {
    content: '';
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(var(--primary-rgb), 0.6);
    backdrop-filter: blur(6px);
    z-index: 2;

    &-body {
      overflow: hidden;
    }
  }
}
