.ProjectsSlider {
  --padding-x: 16px;
  --padding-top: 128px;
  --padding-bottom: 24px;
  @extend %container-var;

  padding: var(--padding-top) var(--padding-x) var(--padding-bottom);
  overflow: hidden;

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
  }

  &-title {
    font-size: var(--text-3xl);
    line-height: var(--hline-3xl);
  }

  img {
    aspect-ratio: 16/9;
    object-fit: cover;
    object-position: center;
  }
}
