.ProjectsSlider {
  padding-top: 128px;
  padding-bottom: 24px;
  overflow: hidden;

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 2rem;
  }

  &-title {
    font-size: var(--text-3xl);
    line-height: var(--hline-3xl);
  }

  img {
    aspect-ratio: 16/9;
    object-fit: cover;
    object-position: center;
  }
}
